* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --border: rgb(106, 125, 179);
  --todobackground: rgb(208, 214, 231);
  --appbackgorund: rgb(217, 218, 241);
  --buttonbackground: rgb(114, 116, 174);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0 50px;
  overflow: hidden;
  background-color: rgb(246, 244, 241);
}

.todoApp {
  width: 400px;
  height: 600px;
  border: 3px solid var(--border);
  border-radius: 5px;
  padding: 15px;
  overflow-y: scroll;
  background-color: var(--appbackgorund);
}

#addNew {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--todobackground);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-solid {
  background-color: var(--buttonbackground);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

#tasks {
  display: grid;
  gap: 14px;
}
#tasks > div {
  background-color: var(--todobackground);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 15px;
  display: grid;
  gap: 10px;
}

.options {
  justify-self: center;
  display: flex;
  gap: 15px;
}

.options i {
  cursor: pointer;
}
